*{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.block{
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 20px;
  transition: all 1s;
  transform: rotate(90deg);
}

.blockTransition{
  transform: rotate(180deg);
  transition: all 1s;
  background-color: orange;
}

